:root {
    --primary-action-color: #fc1d6c;
    --secondary-action-color: #EEF0EC;
    --third-action-color: #000;
    --icon-size: 1.2em;
}

html {
    font-family: "ff-din-round-web",Arial,sans-serif;
    font-size: 13pt;
}

p {
    line-height: 1.5;
}

h1 {
    line-height: 1.25;
    margin-bottom: 0;
    font-size: 30pt;
    padding-bottom: 1em;
}


body {
    margin: 1em;
}

header {
    margin-bottom: 1em;
}

button {
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

header section.menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em
}

header section.menu a.account,
header section.menu a.logout {
    flex-grow: 1;
    padding-bottom: 1.2em;
    text-align: center;
}


header section.menu a img.account-icon,
header section.menu a img.logout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0.4em;
}

main aside form.filter {
    border: 0.3em solid var(--secondary-action-color);
    margin-left: 0.2em;
    margin-right: 1em;
    margin-bottom: 1em;
    flex-grow: 1;
    padding-top: .5em;
}

main aside form.filter {
    padding-left: 0.4em;
    font-size: 1em;
}

main aside section.extra {
    border: 0px;
    flex-grow: 1;
    text-align: right;
}

main aside section.extra button {
    border: none;
    background-color: var(--secondary-action-color);
    font-size: 1em;
    height: 100%;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

main aside form.filter {
    position: relative;
    background-color: white;
}

main aside form.filter ul {
    top: 0.4em;
    left: -0.3em;
    width: 19.8em;
    z-index: 10;
    list-style: none;
    white-space: nowrap;
    padding-left: 0.8em;
    background-color: white;
}

main aside form.filter div {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.35fem;
    margin: 0em;
    cursor: pointer;
    user-select: none;
}

main section.persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 4;
    margin: 0.4em;
}

main section.persons article {
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin-bottom: 5em;
    margin-left:0.2em;
    margin-right:0.6em;
}

main section.persons article {
    transition: all 0.2s ease-in-out;
}

main section.persons article:hover {
   transform: scale(1.05);
}


main section.persons article div.article-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

main section.persons article.dummy {
    display: none;
}

main section.persons article div.article-image-container {
    position: relative;
    margin-bottom: 0.5em;
}

main section.persons article h2 {
    margin: 0;
}

main section.persons article div.article-image-container img.article-image {
    width: 100%;
}

main section.persons article div.article-image-container img.like-icon,
main section.persons article div.article-image-container img.download-icon,
main section.persons article div.article-image-container img.add-icon {
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

main section.persons article div.article-image-container img.like-icon {
    bottom: 10%;
    left: 5%;
}

main section.persons article div.article-image-container img.add-icon {
    bottom: 10%;
    right: 15%;
}

main section.persons article div.article-image-container div.like-count {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 15%;
    font-weight: bold;
}

main section.persons article p {
    flex-grow: 1;
}

main section.persons article a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--third-action-color);
    height: 2em;
    font-weight: bold;
}

main section.persons article a:hover {
    color: #fc1d6c;
    border-color: #fc1d6c;
    border-bottom: 0.4em solid var(--primary-action-color);
}

main section.persons article button {
    background-color: var(--primary-action-color);
    color: white;
    border: none;
    margin-top: 1em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-size: 1.2em;
}

main aside form button {
    background-color: var(--primary-action-color);
    color: white;
    border: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    font-size: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--secondary-action-color);
}

footer img {
    width: 100%;
    max-width: 500px;
}

footer a {
    text-decoration: none;
    color: var(--primary-action-color);
    text-align: center;
    flex-grow:1;
    white-space: nowrap;
}

footer p, footer div{
    text-align: center;
    flex-grow:1;
}


section.submenu {
    margin-left: 2em;
}

section.submenu ul {
    list-style: none;
    padding: 0;
}

section.submenu ul li {
    display: inline;
}

section.submenu ul li a {
    text-decoration: none;
    margin-right: 1em;
    font-weight: bold;
    color: var(--third-action-color);
}

section.submenu ul li a:hover {
    color: #fc1d6c;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 90%;
    font-weight: bold;
    font-size: 2em;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

main aside form.filter ul {
    display: none;
}


main aside form.filter {
    width:100%;
}

@media (min-width: 62.5em) {

    header section.menu {
        position: relative;
    }

    header section.menu a.logout {
        position: absolute;
        top: 1em;
        right: -0.5em;
        border: none;
    }
    header section.menu a.account {
        position: absolute;
        top: 1em;
        right: 1.2em;
        border: none;
    }
    header section.menu a.my-stories,
    header section.menu a.all-stories {
        position: initial;
        flex-grow: 4;
        padding-bottom: 1em;
        border-bottom: 1px solid grey;
    }
    header section.menu a.logo {
        flex-grow: 1;
        order: 2;
        text-align: center;
    }
    header section.menu a.all-stories {
        order: 1;
    }
    header section.menu a.my-stories {
        order: 3;
    }
    main aside {
        flex-direction: row;
    }

    main aside section.sort {
        margin-left: 2em;
    }
    main aside section.sort,
    main aside form.filter {
        flex-grow: 0;
    }

    /*main aside section.extra {
        display: none;
    }*/
    header section.banner-container {
        display: block;
    }
    main section.persons article {
        flex-basis: 45%;
    }
    footer{
        padding:8em;
    }
}

@media (min-width: 87.5em) {

    header section.banner-container img.banner-image {
        height: 65vh;
    }

    header section.banner-container div.banner-text {
        top: 10%;
        font-size: 1.5em;
    }

    main {
        display: flex;
    }

    main section.persons article {
        flex-basis: 30%;
    }

    main section.persons article.dummy {
        display: block;
    }


    main aside {
        display: flex;
        flex-direction: column;
    }

    main aside section.sort,
    main aside form.filter,
    main aside section.extra {
        flex-grow: 0;
        width: 15em;
        margin-left: 1em;
    }

    main aside form.filter ul {
        display: block !important;
        position: initial;
        width: auto;
        border: 0px;
    }
    main aside form.filter div {
        margin-top: 0.2em;
        padding-left: 0.8em;
    }
}

