:root {
    --primary-action-color: #fc1d6c;
    --secondary-action-color: #EEF0EC;
    --third-action-color: #000;
    --fourth-action-color:#464646;
    --icon-size: 1.2em;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: url(../img/wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--fourth-action-color); */

    background: #ef632f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ef632f 0%, #fc1d6c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ef632f 0%,#fc1d6c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ef632f 0%,#fc1d6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef632f', endColorstr='#fc1d6c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
    color: #efecec;
    text-transform: uppercase;
    font-size: 60pt;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
}

#imgWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#profilePic{
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

li{
  display: inline;
  background-color: #fcad1d;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  color: white;
}

p{
    color: #efecec;
    text-align: center;
    font-size: 14pt;
}

div{
    color: #efecec;
    text-align: center;
    font-size: 14pt;
}
form {
    display: inline;
}

form div.button-container button.register {
    border: none;
    background-color: var(--primary-action-color);
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    padding: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    color: white;
    cursor: pointer;
    margin: 1em;
    margin-top: 5em;
}

form div.button-container button.inloggen {
    border: none;
    background-color: var(--secondary-action-color);
    font-size: 1em;
    text-transform: uppercase;
    height: 100%;
    padding: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    color:var(--primary-action-color);
    cursor: pointer;
    margin: 1em;
    margin-top: 5em;
}

form div.button-container button:hover {
    transform: scale(1.2);
}

form div.button-container {
    text-align: center;
    margin-bottom: 1em;
}
